@import "../../global.scss";

#agenda {
  position: absolute;
  top: -5%;
}

.agn-section {
  background-color: $tamnoPlava;
  padding-bottom: 0rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  overflow: hidden;
  scroll-behavior: smooth;
  position: relative;
  // background-image: url(../../images/Vector6.png);
  // background-repeat: no-repeat;
  // background-size: 60rem;
  // background-position-x: -1.5rem;
}

.vector6 {
  position: absolute;
  top: 0;
  left: -1.5rem;
  width: 60rem;
}

.agn-timeline {
  position: relative;
  min-height: 150px;
  width: 90%;
}

.agn-line {
  position: absolute;
  z-index: 1;
  left: 49.92%;
  width: 0.2rem;
  top: 8%;
  background-image: linear-gradient(45deg, $svetloPlava, $ljubicasta);
}

.agn-header {
  font-family: "Orbitron", sans-serif;
  color: $bela;
  text-shadow: 0 0 7px $bela;
  margin: 2rem 0;
  font-size: 3rem;
  font-weight: 400;
}

.agn-card {
  font-family: "Noto Sans", sans-serif;
  color: $bela;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 4rem;
  align-items: center;
  opacity: 0;
  transform: translateX(-100%);
  //margin-left: 10%;
  transition: 600ms ease;
  width: 100%;
  //   height: 13rem;
  position: relative;
  z-index: 1;
  filter: drop-shadow(0 0 10px #011b30);
  visibility: hidden;
}
.agn-bead {
  display: block;
  z-index: 10;
  top: 20%;
  left: 50%;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: $tamnoPlava;
  background-image: radial-gradient(
    circle at center,
    rgb(36, 188, 222),
    rgb(124, 39, 135)
  );
  transform: translateX(0%);
}
.agn-card:nth-child(odd) {
  flex-direction: row;
  align-self: flex-end;
  transform: translateX(100%);
  //margin-left: -10%;
}

.agn-head {
  background-color: $tamnoPlava;
  width: 60%;
  height: 18%;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 12px 12px 0 0;
  padding: 0.5rem 1rem 0rem 1rem;
  text-align: center;
  position: relative;
}

.agn-head::after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  width: 20%;
  background-color: transparent;
  height: 100%;
  border-radius: 12px;
  box-shadow: -8px 6px 0 -3px $tamnoPlava;
}
.agn-pseudo {
  position: absolute;
  background-color: red;
  width: 10%;
  height: inherit;
  border-radius: 12px;

  top: 0;
  left: 81%;
  box-shadow: -8px 6px 0 -3px $tamnoPlava;
}

.agn-text {
  background-color: $tamnoPlava;
  width: 100%;
  height: 82%;
  padding-top: 1rem;
  padding-bottom: 0.2rem;
  border-radius: 0 12px 12px 12px;
}

.agn-date {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: left;
  height: 2rem;
  padding-left: 1rem;
  display: flex;
  align-items: center;
  width: 90%;
  margin: auto;
  position: relative;
}

.agn-date::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 12px;
  padding: 0.1rem;
  background: linear-gradient(
    130deg,
    #24bdde,
    rgba(107, 184, 206, 0.88),
    rgba(16, 78, 126, 0.5),
    rgba(71, 51, 153, 0.5),
    rgba(113, 80, 185, 0.83),
    #7b2787
  );
  -webkit-mask: linear-gradient(rgb(255, 255, 255) 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.agn-descr {
  position: relative;
  font-size: 1.2rem;
  width: 90%;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  text-align: left;
}
.agn-descr::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 12px;
  padding: 0.1rem;
  background: linear-gradient(
    130deg,
    #24bdde,
    rgba(107, 184, 206, 0.88),
    rgba(16, 78, 126, 0.5),
    rgba(71, 51, 153, 0.5),
    rgba(113, 80, 185, 0.83),
    #7b2787
  );
  -webkit-mask: linear-gradient(rgb(255, 255, 255) 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.show-me:nth-child(n) {
  transform: none;
  opacity: 1;
  visibility: visible;
}

.agn-content {
  width: calc(50% - 5rem);
}
@media (max-width: 1200px) {
  .agn-head {
    width: 80%;
  }
}
@media (max-width: 960px) {
  .agn-header {
    font-size: 2.5rem;
  }

  .agn-card:nth-child(even) {
    flex-direction: row;
    align-self: flex-end;
  }
  .agn-card:nth-child(n) {
    margin-left: 0;
  }
  .agn-line {
    left: 1rem;
  }

  .agn-content {
    width: calc(100% - 8rem);
    margin-top: 2rem;
    margin-right: 1rem;
  }
  .agn-card {
    transform: translateX(100%);
    justify-content: flex-start;
  }
}

@media (max-width: 620px) {
  .agn-content {
    width: calc(100% - 5rem);
  }
  .agn-card {
    gap: 2rem;
  }
}

@media (max-width: 480px) {
  .agn-content {
    width: calc(100% - 5rem);
  }

  .agn-card {
    gap: 2rem;
  }
}
