@import "../../global.scss";

#faq {
  position: absolute;
  top: -15%;
}

.faq-blue-rectangle-blur {
  position: absolute;
  top: 30%;
  left: 90%;
  width: 50%;
  height: 10%;
  background-color: $svetloPlava;
  filter: blur(5rem);
  border-radius: 50%;
  //animation: blurMoving 10s linear infinite;
}

.stk-ball-blur {
  position: absolute;
  top: 20%;
  left: -2%;
  width: 20%;
  height: 30%;
  background-color: $svetloPlava;
  filter: blur(7rem);
  border-radius: 50%;
  //animation: blurMoving 10s linear infinite;
}

.faq-naslov {
  color: $bela;
  font-family: "Orbitron", sans-serif;
  text-shadow: 0 0 7px $bela;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  width: 95%;
}

.faq-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  position: relative;
  margin: 2rem 0;
}

.vector4 {
  position: absolute;
  top: 10rem;
  right: 0;
  // width: 60rem;
}

.faq-box {
  border-radius: 15px;
  width: 40rem;
  // min-height: 20rem;
  max-width: 80%;
  align-self: center;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  backdrop-filter: blur(1px);
  background: linear-gradient(
    135deg,
    rgba(36, 189, 222, 0.1),
    rgba(123, 39, 135, 0.1)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.faq-box-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 37rem;
  width: 100%;
}

.faq-text {
  color: $bela;
  font-family: "Noto Sans", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
}

.faq-horizontal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-longtext1 {
  color: white;
  font-family: "Noto Sans", sans-serif;
  font-size: 0.8rem;
}

.faq-longtext2 {
  color: white;
  font-family: "Noto Sans", sans-serif;
  font-size: 0.8rem;
  display: none;
}

.faq-horizontal-line {
  display: inline-block;
  width: 100%;
  height: 0.1rem;
  background-image: linear-gradient(
    to right,
    $svetloPlava,
    $ljubicasta,
    $svetloPlava,
    #24bcde50
  );
}

.faq-plus {
  font-size: 2.2rem;
  align-items: center;
  padding-bottom: 0.5rem;
  color: #978bcc;
  cursor: pointer;
}

.faq-plus-animation1 {
  animation-name: animplus1;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.faq-plus-animation2 {
  animation-name: animplus2;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes animplus1 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(45deg);
  }
}

@keyframes animplus2 {
  0% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.faq-hidden {
  display: none;
}

.faq-text-moving {
  overflow: hidden;
  max-height: 0;
  transition: all 0.3s cubic-bezier(0, 1, 0, 1);
  border-bottom: 2px solid;
  border-image: linear-gradient(
    to right,
    $svetloPlava,
    $ljubicasta,
    $svetloPlava,
    #24bcde50
  );
  border-image-slice: 1;
  width: 100%;
  color: $bela;
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  font-weight: 300;
}

.show {
  height: 60%;
  max-height: 270px;
  transition: all 0.3s cubic-bezier(1, 0, 1, 0);
  padding-bottom: 1rem;
}

.faq-plus,
.faq-text,
.faq-text-moving,
.faq-horizontal-line,
.faq-naslov {
  user-select: none;
}

.faq-plus-animation2::selection {
  color: none;
  background: none;
}

@media screen and (max-width: 1200px) {
  .faq-plus {
    cursor: none;
  }
}
@media screen and (max-width: 960px) {
  .faq-box-wrapper {
    height: 40rem;
  }
}
@media screen and (max-width: 620px) {
  .faq-naslov {
    font-size: 2.5rem;
  }
  .faq-box-wrapper {
    height: 45rem;
  }
}

@media screen and (max-width: 480px) {
  .faq-plus {
    font-size: 2.2rem;
    align-items: center;
    padding-bottom: 0.5rem;
    color: #978bcc;
    cursor: none;
  }
  .faq-box-wrapper {
    height: 55rem;
  }
}
