@import "../../global.scss";

.ax-iskustva {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  height: 100%;
  background-color: $tamnoPlava;
}
.ax-title {
  font-family: "Orbitron", sans-serif;
  color: $bela;
  text-shadow: 0 0 7px $bela;
  text-align: center;
}

.ax-title h1 {
  font-size: 3rem;
  font-weight: 400;
  margin: 2rem 0;
}

.ax-top-container {
  display: flex;
  position: relative;
  justify-content: center;
  gap: 2rem;
}

.ax-top-container .ax-top-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 3%;
  width: 20%;
  border-style: solid;
  border-color: white;
  border-radius: 15px;
  border-width: 1px;
  background: linear-gradient(
    180deg,
    rgba(217, 217, 217, 1),
    rgba(217, 217, 217, 0)
  );
}
.ax-top-left hr {
  width: 13rem;
}

.ax-top-name {
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  color: $bela;
  font-weight: 400;
  font-size: 15px;
  margin-top: 5rem;
}

.ax-top-slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 52;
}

.image {
  object-fit: cover;
  margin-top: 3rem;
  width: 11rem;
  height: 12rem;
  justify-content: center;
  border-style: solid;
  border-color: aqua;
  border-radius: 15px;
  border-width: 1px;
  position: relative;
}

.left-arrow {
  position: absolute;
  height: 15%;
  cursor: pointer;
  z-index: 10;
  justify-content: center;
  top: 43%;
  right: 73%;
}
.right-arrow {
  position: absolute;
  height: 15%;
  cursor: pointer;
  z-index: 10;
  top: 43%;
  left: 73%;
}

@keyframes animScale {
  0% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}
@keyframes animScale1 {
  0% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}

.inactiveAR {
  animation-name: animScale;
  animation-duration: 0.3s;
}
.activeAR {
  animation-name: animScale1;
  animation-duration: 0.3s;
}
.inactiveARL {
  animation-name: animScale;
  animation-duration: 0.3s;
}
.activeARL {
  animation-name: animScale1;
  animation-duration: 0.3s;
}

.right-arrow,
.left-arrow {
  transition: all 0.2s ease-in-out;
}

.slide {
  display: flex;
  opacity: 0;
  transition: 1s ease;
}

.slide-active {
  opacity: 1;
  transition-duration: 0.5s;
  transform: scale(1.08);
  height: 100%;
}

.ax-top-container .ax-top-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  border-style: solid;
  border-color: #ffffff;
  border-radius: 15px;
  border-width: 1px;
  background: repeating-linear-gradient(
    180deg,
    rgba(217, 217, 217, 0),
    rgba(217, 217, 217, 0.2),
    rgba(217, 217, 217, 0)
  );
}

.ax-top-right .ax-top-description {
  font-size: 16px;
  font-family: "Noto Sans", sans-serif;
  color: $bela;
  width: 80%;
  text-align: center;
}
.ax-top-right .slide-active {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1920px) {
  .ax-top-left hr {
    width: 10rem;
  }
}
@media screen and (max-width: 1200px) {
  .ax-top-left hr {
    width: 10rem;
  }
  .image {
    margin-top: 3rem;
    width: 8rem;
    height: 9rem;
  }
  .ax-top-left hr {
    width: 9rem;
  }

  .ax-top-right .ax-top-description {
    font-size: 12px;
    width: 18rem;
    height: 20rem;
    padding-top: 21%;
  }
  .ax-top-right .slide-active {
    height: 55%;
    width: 55%;
  }
  .ax-top-container .ax-top-left {
    padding-bottom: 3%;
    width: 23%;
  }
  .ax-top-container .ax-top-right {
    width: 23%;
  }
  .left-arrow {
    height: 15%;
    z-index: 10;
    top: 43%;
    right: 76%;
  }
  .right-arrow {
    height: 15%;
    z-index: 10;
    top: 43%;
    left: 76%;
  }
}
@media screen and (max-width: 960px) {
  .image {
    margin-top: 3rem;
    width: 8rem;
    height: 9rem;
  }

  .ax-top-left hr {
    width: 9rem;
  }

  .ax-top-right .ax-top-description {
    font-size: 10px;
    width: 13rem;
    height: 20rem;
    padding-top: 16%;
  }
  .ax-top-right .slide-active {
    height: 55%;
    width: 55%;
  }
  .ax-top-container .ax-top-left {
    padding-bottom: 3%;
    width: 30%;
  }
  .ax-top-container .ax-top-right {
    width: 30%;
  }
  .left-arrow {
    z-index: 10;
    justify-content: center;
    top: 43%;
    right: 83%;
  }
  .right-arrow {
    height: 15%;
    z-index: 10;
    top: 43%;
    left: 83%;
  }
}
@media screen and (max-width: 620px) {
  .image {
    margin-top: 3rem;
    width: 8rem;
    height: 9rem;
  }
  .ax-title h1 {
    font-size: 2.5rem;
    font-weight: 400;
  }
  .ax-top-left hr {
    width: 9rem;
  }
  .ax-top-container {
    gap: 1rem;
  }
  .ax-top-right .ax-top-description {
    font-size: 0.59rem;
    width: 13rem;
    height: 20rem;
    padding-top: 20%;
  }
  .ax-top-right .slide-active {
    height: 55%;
    width: 55%;
  }
  .ax-top-container .ax-top-left {
    padding-bottom: 3%;
    width: 40%;
  }
  .ax-top-container .ax-top-right {
    width: 40%;
  }
  .left-arrow {
    height: 15%;
    z-index: 10;
    top: 43%;
    right: 93%;
  }
  .right-arrow {
    height: 15%;
    z-index: 10;
    top: 43%;
    left: 93%;
  }
}
@media screen and (max-width: 480px) {
  .ax-top-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .image {
    margin-top: 3rem;
    width: 8rem;
    height: 9rem;
  }
  .ax-top-left hr {
    width: 9rem;
  }

  .ax-top-right .ax-top-description {
    font-size: 0.6rem;
    padding-top: 30%;
    width: 13rem;
    height: 20rem;
    text-align: center;
  }
  .ax-top-right .slide-active {
    height: 55%;
    width: 55%;
  }
  .ax-top-container .ax-top-left {
    padding-bottom: 3%;
    width: 60%;
  }
  .ax-top-container .ax-top-right {
    height: 20%;
    width: 60%;
  }
  .left-arrow {
    height: 8%;
    z-index: 10;
    top: 45%;
    right: 87%;
  }
  .right-arrow {
    height: 8%;
    z-index: 10;
    top: 45%;
    left: 87%;
  }

  @keyframes animScale {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes animScale1 {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }

  .inactiveS:hover {
    background-color: transparent;
    color: #ffffff;
    opacity: 1;
  }
}
@media screen and (max-width: 340px) {
  .ax-top-container {
    gap: 2rem;
  }
  .image {
    margin-top: 3rem;
    width: 8rem;
    height: 9rem;
  }
  .ax-top-left hr {
    width: 9rem;
  }

  .ax-top-right .ax-top-description {
    font-size: 0.59rem;
    padding-top: 15%;
    width: 13rem;
    height: 20rem;
  }
  .ax-top-right .slide-active {
    height: 55%;
    width: 55%;
  }
  .ax-top-container .ax-top-left {
    padding-bottom: 3%;
    width: 60%;
  }
  .ax-top-container .ax-top-right {
    height: 20%;
    width: 60%;
  }
  .left-arrow {
    height: 7%;
    z-index: 10;
    top: 45%;
    right: 87%;
  }
  .right-arrow {
    height: 7%;
    z-index: 10;
    top: 45%;
    right: 87%;
  }
}

.ax-okvir-iskustva {
  width: 16em;
  height: 9em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background-color: $tamnoPlava;
}
.ax-okvir-iskustva::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 12px;
  padding: 0.2rem;
  background: linear-gradient(45deg, $svetloPlava, $ljubicasta);
  -webkit-mask: linear-gradient(rgb(255, 255, 255) 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.ax-down {
  height: 100%;
  width: 100%;
  z-index: 1;
}

.ax-iskustvo {
  z-index: -10;
  display: flex;
  justify-content: center;
  border-radius: 30px;
  margin: 0 auto;
}

.ax-iskustvo img {
  margin-top: 0px;
  width: 16em;
  height: 9em;
  border-radius: 12px;
  object-fit: cover;
  z-index: -100;
}

.ax-down {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
}

.inactiveS {
  color: #00ffa3;
}
.inactiveS:hover {
  background-color: #00ffa3;
  color: #000000;
  opacity: 0.3;
}

.activeS {
  background-color: #00ffa3;
  color: #000000 !important;
}
