@import "../../global.scss";
.ax-iskustva {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  // justify-content: space-between;
  background-color: #002440;
}
.ax-title {
  text-align: center;
  color: #ffffff;
}
.inactiveS {
  color: #00ffa3;
}
.inactiveS:hover {
  background-color: #00ffa3;
  color: #000000;
  opacity: 0.3;
}

.activeS {
  background-color: #00ffa3;
  color: #000000 !important;
}

.ax-top-container {
  // display: flex;
  // align-items: center;
  //  justify-content: space-around;
  // padding: 0 3%;
  // margin-top: 1%;
  display: flex;
  justify-content: center;
  gap: 2rem;
  // background-color: seagreen;
}

.ax-top-container .ax-top-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 3%;
  position: relative;
  // background-color: black;
  width: 20%;
  height: 20%;
  border-style: solid;
  border-color: white;
  border-radius: 15px;
}
.ax-top-slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 52;
  margin: 10%;

  //ovo je podesavanje onoga sto stoji izmedju prelaza, vjerovatno je da bude boja pozadine
}

.image {
  //  height: 24vw;
  // width: 17.8vw;
  object-fit: cover;

  width: 9rem;
  height: 10rem;
  // margin: auto;
  justify-content: center;
  border-style: solid;
  border-color: aqua;
  border-radius: 15px;
}

.left-arrow {
  position: absolute;
  top: 50%;
  right: 150%;
  width: 7vw;
  cursor: pointer;
  z-index: 10;
}
.right-arrow {
  position: absolute;
  top: 50%;
  left: 380%;
  width: 7vw;
  cursor: pointer;
  z-index: 10;
}

@keyframes animScale {
  0% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}
@keyframes animScale1 {
  0% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}

.inactiveAR {
  animation-name: animScale;
  animation-duration: 0.3s;
}
.activeAR {
  animation-name: animScale1;
  animation-duration: 0.3s;
}
.inactiveARL {
  animation-name: animScale;
  animation-duration: 0.3s;
}
.activeARL {
  animation-name: animScale1;
  animation-duration: 0.3s;
}

.right-arrow,
.left-arrow {
  transition: all 0.2s ease-in-out;
}
@media screen and (min-width: 560px) {
  .right-arrow:hover,
  .left-arrow:hover {
    transform: scale(1.5);
    transition: all 0.2s ease-in-out;
  }
}

.slide {
  display: flex;
  opacity: 0;
  transition: 1s ease;
}

.slide-active {
  opacity: 1;
  transition-duration: 0.5s;
  transform: scale(1.08);
}

.ax-top-name {
  font-weight: 400;
  font-size: 1rem;
  margin-top: 5rem;
  // background-color: #00ffa3;
  // width: 10rem;
  justify-content: center;
  color: #ffffff;
}

.ax-top-container .ax-top-right {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  justify-content: center;
  // background-color: black;
  width: 20%;
  height: 24.2rem;
  border-style: solid;
  border-color: #ffffff;
  border-radius: 15px;
}

.ax-top-right .ax-top-description {
  font-weight: 200;
  font-family: "Manrope";
  padding-top: 5%;
  // padding-left: 20%;
  color: white;
  font-size: 1;
  // height: 10vw;
  // width: 55vw;
  width: 13rem;
  height: 20rem;
  text-align: center;
  // background-color: purple;
}
.ax-top-right .slide-active {
  background-color: #00ffa3;
  height: 10rem;
  width: 0rem;
  justify-content: center;
  // padding-left: 10%;
}
@media screen and (min-width: 1920px) {
}
@media screen and (min-width: 1200px) {
}
@media screen and (min-width: 960px) {
}
@media screen and (min-width: 620px) {
}
@media screen and (max-width: 560px) {
  * {
    -webkit-tap-highlight-color: transparent;
  }
  .ax-top-container {
    flex-direction: column;
  }
  .ax-top-left .ax-top-description {
    height: 12vw;
    padding: 0;
  }
  .ax-top-container .ax-top-left {
    padding-bottom: 0%;
  }

  .ax-top-container .ax-top-right {
    padding: 7% 0;
  }

  .left-arrow {
    width: 15vw;
  }
  .right-arrow {
    width: 15vw;
  }

  @keyframes animScale {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes animScale1 {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }

  .ax-top-description .ax-top-name {
    font-size: 6vw;
  }

  .inactiveS:hover {
    background-color: transparent;
    color: #ffffff;
    opacity: 1;
  }
}
@media screen and (min-width: 340px) {
}
.ax-down {
  margin-bottom: 3.5%;
  margin-top: 5%;
  height: 100%;
  width: 100%;
  // background-color: #181919;
  position: relative;
  z-index: 1;
}
.ax-iskustvo img {
  z-index: -100;
}

.ax-iskustvo {
  z-index: -10;

  display: flex;
  /* align-items: center; */
  justify-content: center;

  background: #c3b0ff;
  box-shadow: 25px 50px 70px rgba(0, 0, 0, 0.25);
  border-radius: 30px;

  /* transform: scale(1.1); */
  margin: 0 auto;
}

.ax-iskustvo img {
  margin-top: 0px;
  width: 16em;
  height: 9em;
  border-radius: 30px;
  object-fit: cover;
}

@media screen and (max-width: 1920px) {
  .ax-down h1 {
    margin-top: 1.2%;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 200;
    font-size: 3vw;
    color: #ffffff;
  }
}
@media screen and (max-width: 1200px) {
  .ax-down h1 {
    margin-top: 1.2%;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 200;
    font-size: 3vw;
    color: #ffffff;
  }
}
@media screen and (max-width: 960px) {
  .ax-down h1 {
    margin-top: 1.2%;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 200;
    font-size: 3vw;
    color: #ffffff;
  }
}
@media screen and (max-width: 620px) {
  .ax-down h1 {
    margin-top: 1.2%;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 200;
    font-size: 7vw;
    color: #ffffff;
  }
}
@media screen and (max-width: 480px) {
  .ax-down h1 {
    margin-top: 1.2%;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 200;
    font-size: 7vw;
    color: #ffffff;
  }
}
