@import "../../global.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  background-color: #0d2447;
}
.title {
  text-align: center;
}
.top {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.top-left-box {
  width: 12rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  border-style: solid;
}
.top-left-box-name {
  text-align: center;
  padding-bottom: 0.5rem;
}
.top-left-box-hr {
  text-align: center;
  padding-bottom: 0.5rem;
}
.top-right-box {
  width: 12rem;
  height: 15rem;
  text-align: center;
  border-style: solid;
}
.top-photo1 {
  width: 7rem;
  height: 8rem;
  margin: auto;
  justify-content: center;
}
.down {
  display: flex;
  justify-content: space-around;
}
.down-photo1,
.down-photo2,
.down-photo3,
.down-photo4 {
  width: 12rem;
  height: 15rem;
  border-style: solid;
}
