@import "../../global.scss";

.pr-prijava {
  background-color: $tamnoPlava;
  display: flex;
  flex-direction: column;
}

.pr-header {
  padding-top: 5vh;
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.pr-h1 {
  font-family: "Orbitron";
  color: $bela;
  display: flex;
  font-size: 3rem;
  margin-bottom: 5rem;
  margin-left: 35%;
  text-shadow: -2px 0 $ljubicasta, 0 2px $ljubicasta, 2px 0 $ljubicasta,
    0 -2px $ljubicasta;
}

.pr-exit-text {
  font-family: "noto sans";
  font-size: 2rem;
  color: $bela;
  display: flex;
  align-items: center;
  margin-left: 20vw;
  margin-bottom: 4rem;
}

.pr-exit {
  max-height: 2rem;
  margin-right: 5rem;
  margin-left: 1rem;
}

.pr-team-data {
  display: flex;
  flex-direction: column;
}

.pr-content {
  display: flex;
  justify-content: space-around;
}

.pr-members {
  display: flex;
  flex-direction: column;
  width: 50%;
  border-radius: 30px;
  margin-left: 10%;
  // overflow: hidden;
}

.pr-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2rem;
  background-color: rgba(6, 58, 86, 0.6);
  margin-bottom: 10rem;
}

.pr-h1_m {
  font-family: "Noto sans";
  color: $bela;
  margin-bottom: 2rem;
}

.pr-lable {
  font-family: "Noto Sans";
  font-size: 1.5rem;
  color: $bela;
  word-wrap: break-word;
  text-align: center;
  margin-left: 2rem;
  margin-right: 2rem;
}

.pr-text {
  height: 2.5rem;
  width: 80%;
  text-align: center;
  font-size: 1.5rem;
  background-color: $tamnoPlava;
  color: $bela;
  border: double 4px transparent;
  border-radius: 6px;
  background-image: linear-gradient($tamnoPlava, $tamnoPlava),
    linear-gradient(to right, $svetloPlava, $ljubicasta);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  margin-bottom: 3.5rem;
}

.pr-select {
  height: 2.5rem;
  width: 75%;
  text-align: center;
  font-size: 1.5rem;
  background-color: $tamnoPlava;
  color: $bela;
  border: double 4px transparent;
  border-radius: 6px;
  background-image: linear-gradient($tamnoPlava, $tamnoPlava),
    linear-gradient(to right, $svetloPlava, $ljubicasta);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  margin-bottom: 3.5rem;
}

.pr-team {
  display: flex;
  flex-direction: column;
}

.pr-kevin {
  margin-left: 20%;
  width: 80%;
}

.pr-kevin-img {
  max-width: 80%;
  // width: 80%;
}

.pr-team-info {
  margin-left: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2rem;
  background-color: rgba(6, 58, 86, 0.6);
  margin-bottom: 10rem;
  width: 60%;
}

.pr-text-team {
  height: 2.5rem;
  width: 90%;
  text-align: center;
  font-size: 1.5rem;
  background-color: $tamnoPlava;
  color: $bela;
  border: double 4px transparent;
  border-radius: 6px;
  background-image: linear-gradient($tamnoPlava, $tamnoPlava),
    linear-gradient(to right, $svetloPlava, $svetloPlava);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  margin-bottom: 3.5rem;
}

.pr-text-team_textarea {
  height: 25rem;
  width: 80%;
  font-size: 1.5rem;
  background-color: $tamnoPlava;
  color: $bela;
  border: double 2px transparent;
  border-radius: 15px;
  background-image: linear-gradient($tamnoPlava, $tamnoPlava),
    linear-gradient(to right, $svetloPlava, $ljubicasta);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  margin-bottom: 3.5rem;
  resize: none;
}

.pr-footer {
  display: flex;
  justify-content: center;
}

.pr-footer-dugme {
  display: flex;
}

.pr-submit {
  display: flex;
  font-family: "Noto sans";
  color: $bela;
  background-image: linear-gradient(to right, $svetloPlava, $ljubicasta);
  font-size: 3rem;
  border-radius: 1.5rem;
  padding: 1rem;
  position: relative;
  margin-bottom: 10rem;
}

.pr-strelica-img {
  position: absolute;
  max-width: 20%;
  transform: translate(-70%, 50%);
}

@media (max-width: 1200px) {
  .pr-h1 {
    margin-left: 20%;
  }
  .pr-exit-text {
    margin-left: 15%;
  }
}

@media (max-width: 620px) {
  .pr-h1 {
    font-size: 2rem;
    margin-left: 20%;
  }
  .pr-exit-text {
    margin-left: 10%;
  }

  .pr-exit-text p {
    display: none;
  }
  .pr-exit {
    width: 2rem;
  }

  .pr-content {
    flex-direction: column;
    align-items: center;
  }
  .pr-members {
    margin-left: 0;
    width: 85%;
  }
  .pr-team-info {
    justify-content: center;
    margin-left: 7.5%;
    width: 85%;
  }
  .pr-kevin {
    display: none;
  }
  .pr-submit {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .pr-option {
    font-size: 1rem;
    max-width: 50%;
  }
}
