@import "../../global.scss";

.pr-file-upload-button {
  border-radius: 5rem;
}

.pr-prijava {
  background-color: $tamnoPlava;
  display: flex;
  flex-direction: column;
  background-image: url(../../images/Constellation.png);
  overflow: hidden;
}

.pr-header {
  width: 100%;
  height: 6rem;
  position: relative;
}

.errorClass {
  border: 2px solid red !important;
}

.pr-h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Orbitron", sans-serif;
  color: $bela;
  display: flex;
  // text-shadow: -2px 0 $ljubicasta, 0 2px $ljubicasta, 2px 0 $ljubicasta,
  //   0 -2px $ljubicasta;
  font-size: 2.5rem;
  white-space: nowrap;
}

.pr-exit-text {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  font-family: "Noto Sans", sans-serif;
  font-size: 2rem;
  color: $bela;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.pr-exit {
  margin-left: 0.5rem;
}

.pr-team-data {
  display: flex;
  flex-direction: column;
}

.pr-content {
  display: flex;
  justify-content: space-around;
}

.pr-members {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  margin-left: 5%;
  width: 100%;
}

.pr-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2rem;
  background-color: rgba(6, 58, 86, 0.6);
  margin-bottom: 5rem;
  height: 80%;
}

.pr-h1_m {
  font-family: "Noto sans";
  color: $bela;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.pr-lable {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.5rem;
  color: $bela;
  word-wrap: break-word;
  text-align: center;
  margin: 0.5rem auto;
  width: 90%;
}

.pr-lable-error {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.5rem;
  color: red;
  word-wrap: break-word;
  text-align: center;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  margin-top: -2rem;
}

.pr-text {
  height: 2.5rem;
  width: 80%;
  text-align: center;
  font-size: 1.5rem;
  background-color: $tamnoPlava;
  color: $bela;
  border: double 4px transparent;
  border-radius: 6px;
  background-image: linear-gradient($tamnoPlava, $tamnoPlava),
    linear-gradient(to right, $svetloPlava, $ljubicasta);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  margin-bottom: 0.5rem;
}

.pr-select {
  height: 2.5rem;
  width: 80%;
  text-align: center;
  font-size: 1.5rem;
  background-color: $tamnoPlava;
  color: $bela;
  border: double 4px transparent;
  border-radius: 6px;
  background-image: linear-gradient($tamnoPlava, $tamnoPlava),
    linear-gradient(to right, $svetloPlava, $ljubicasta);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  margin-bottom: 0.5rem;
}

.pr-team {
  display: flex;
  flex-direction: column;
}

.pr-kevin {
  width: 80%;
  margin: 0 auto;
}

.pr-team-info {
  margin-left: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2rem;
  background-color: rgba(6, 58, 86, 0.6);
  margin-bottom: 10rem;
  width: 70%;
}

.pr-text-team {
  height: 2.5rem;
  width: 90%;
  text-align: center;
  font-size: 1.5rem;
  background-color: $tamnoPlava;
  color: $bela;
  border: double 4px transparent;
  border-radius: 6px;
  background-image: linear-gradient($tamnoPlava, $tamnoPlava),
    linear-gradient(to right, $svetloPlava, $svetloPlava);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  margin-bottom: 3.5rem;
}

.pr-text-team_textarea {
  height: 20rem;
  width: 80%;
  font-size: 1.5rem;
  background-color: $tamnoPlava;
  color: $bela;
  border: double 2px transparent;
  border-radius: 15px;
  background-image: linear-gradient($tamnoPlava, $tamnoPlava),
    linear-gradient(to right, $svetloPlava, $ljubicasta);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  margin-bottom: 3.5rem;
  resize: none;
}

.pr-footer {
  display: flex;
  justify-content: center;
}

.pr-footer-dugme {
  display: flex;
}

.pr-submit {
  display: flex;
  font-family: "Noto Sans", sans-serif;
  color: $bela;
  background-image: linear-gradient(to right, $svetloPlava, $ljubicasta);
  font-size: 3rem;
  border-radius: 1.5rem;
  padding: 1rem;
  position: relative;
  margin: 5rem 0;
  cursor: pointer;
}

@media (max-width: 960px) {
  .pr-h1 {
    font-size: 2rem;
  }

  .pr-h1_m {
    font-size: 1.5rem;
  }

  .pr-lable {
    font-size: 1rem;
  }

  .pr-exit-text p {
    display: none;
  }
  .pr-exit {
    width: 2rem;
  }

  .pr-content {
    flex-direction: column;
    align-items: center;
  }
  .pr-members {
    margin: auto;
    width: 30rem;
    max-width: 90%;
  }
  .pr-team-info {
    margin: auto;
    max-width: 90%;
  }
  .pr-kevin {
    display: none;
  }
  .pr-submit {
    font-size: 2rem;
  }
}
@media (max-width: 480px) {
  .pr-h1 {
    font-size: 1.6rem;
  }
}
