@import "../../global.scss";

.pr-prijava {
  background-color: $tamnoPlava;
  display: flex;
  flex-direction: column;
}

.pr-header {
  padding-top: 5vh;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.pr-h1 {
  display: flex;
  padding-right: 40%;
}

.pr-exit {
  width: 3vw;
  height: 3vh;
}

.pr-content {
  display: flex;
  justify-content: space-around;
}

.pr-members {
  display: flex;
  width: 50vw;
}

.pr-member {
  display: flex;
  flex-direction: column;
}

.pr-label {
  font-family: "Raleway";
}

.pr-text {
  border-radius: 12px;
  padding: 1.5px;
  background-color: $tamnoPlava;
}

.pr-footer {
  display: flex;
  justify-content: center;
}
