@import "../../global.scss";
.ax-okvir-partneri {
  width: 20em;
  height: 9em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background-color: $tamnoPlava;
}
.ax-okvir-partneri::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 12px;
  padding: 0.2rem;
  background: linear-gradient(45deg, $svetloPlava, $ljubicasta);
  -webkit-mask: linear-gradient(rgb(255, 255, 255) 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.pokrovitelj {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.dveSekcijeP {
  background-size: 100% 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.ceo-partneri {
  background-color: $tamnoPlava;
  display: flex;
  flex-direction: column;
  z-index: 1;
  gap: 2rem;
}

.ceo-partneri h1 {
  font-family: "Orbitron", sans-serif;
  color: $bela;
  text-shadow: 0 0 7px $bela;
  text-shadow: 0 0 10px $bela;
  font-style: normal;
  text-align: center;
}

.partner {
  z-index: -10;
  display: flex;
  justify-content: center;
  border-radius: 30px;
  margin: 0 auto;
}

.partner img {
  width: 13em;
  height: 7em;
  border-radius: 30px;
  z-index: -100;
  margin-top: 1%;
  margin-left: 9.5%;
  border-radius: 12px;
}

.pokrovitelj-logo {
  display: flex;
  justify-content: center;
  width: 100%;
}

@media screen and (max-width: 1920px) {
  .ceo-partneri h1 {
    font-weight: 200;
    font-size: 3vw;
  }
}
@media screen and (max-width: 1200px) {
  .ceo-partneri h1 {
    font-weight: 200;
    font-size: 3vw;
  }
}
@media screen and (max-width: 960px) {
  .ceo-partneri h1 {
    font-weight: 200;
    font-size: 3vw;
  }
}
@media screen and (max-width: 620px) {
  .ceo-partneri h1 {
    font-weight: 200;
    font-size: 7vw;
  }
}
@media screen and (max-width: 480px) {
  .ceo-partneri h1 {
    font-weight: 200;
    font-size: 7vw;
  }
}
@media screen and (max-width: 340px) {
}
