@import "../../global.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  //background-color: #0d2447;
}
.partneri-pokrovitelj,
.partneri-godisnji,
.partneri-naturalni,
.partneri-medijski {
  display: flex;
  flex-direction: column;
}
.partneri-pokrovitelj-photo {
  display: flex;
  justify-content: center;
}
.partneri-pokrovitelj-photo1 {
  border: solid;
  width: 15rem;
  height: 10rem;
  display: flex;
  justify-content: center;
}
.partneri-pokrovitelj-photo1 img {
  width: 80%;
  margin: auto;
}
.partneri-godisnji-photo,
.partneri-naturalni-photo,
.partneri-medijski-photo {
  display: flex;
  justify-content: space-around;
}
.partneri-godisnji-photo1,
.partneri-godisnji-photo2,
.partneri-godisnji-photo3,
.partneri-godisnji-photo4 {
  width: 15rem;
  height: 10rem;
  border: solid;
  display: flex;
  justify-content: center;
}
.partneri-godisnji-photo1 img,
.partneri-godisnji-photo2 img,
.partneri-godisnji-photo3 img,
.partneri-godisnji-photo4 img {
  width: 80%;
  margin: auto;
}
.partneri-naturalni-photo1,
.partneri-naturalni-photo2,
.partneri-naturalni-photo3,
.partneri-naturalni-photo4 {
  width: 15rem;
  height: 10rem;
  border: solid;
  display: flex;
  justify-content: center;
}
.partneri-naturalni-photo1 img,
.partneri-naturalni-photo2 img,
.partneri-naturalni-photo3 img,
.partneri-naturalni-photo4 img {
  width: 80%;
  margin: auto;
}
.partneri-medijski-photo1,
.partneri-medijski-photo2,
.partneri-medijski-photo3,
.partneri-medijski-photo4 {
  width: 15rem;
  height: 10rem;
  border: solid;
  display: flex;
  justify-content: center;
}
.partneri-medijski-photo1 img,
.partneri-medijski-photo2 img,
.partneri-medijski-photo3 img,
.partneri-medijski-photo4 img {
  width: 80%;
  margin: auto;
}
.partneri-pokrovitelj-title,
.partneri-godisnji-title,
.partneri-naturalni-title,
.partneri-medijski-title {
  text-align: center;
}
