@import "../../global.scss";

.ceo-partneri {
  background-color: $tamnoPlava;
  position: relative;
  z-index: 1;
}

.ceo-partneri h1 {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 200;
  text-shadow: 0 0 7px $bela;
  font-size: 3vw;
  color: $bela;
  text-align: center;
}

.ceo-partneri h1 {
  margin: 2% 0;
}

.pokrovitelj-naslov {
  margin-top: 0 !important;
}

.partner img {
  z-index: -100;
}

.partner {
  z-index: -10;
  display: flex;
  justify-content: center;
  background: #c3b0ff;
  box-shadow: 25px 50px 70px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  margin: 0 auto;
}

.partner img {
  width: 16em;
  height: 9em;
  border-radius: 30px;
}

.pokrovitelj-logo {
  display: flex;
  justify-content: center;
  width: 100%;
}

.linija img {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .ceo-partneri h1 {
    font-size: 2.5vw;
  }
}
@media screen and (max-width: 960px) {
  .ceo-partneri h1 {
    font-size: 3vw;
  }
}
@media screen and (max-width: 620px) {
  .ceo-partneri h1 {
    font-size: 7vw;
  }
}
@media screen and (max-width: 480px) {
  .ceo-partneri h1 {
    font-size: 7vw;
  }
}
