@import "../../global.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.ceo-nav {
  position: relative;
  z-index: 600;
}

.navbar {
  padding: 0 3vw;
  margin: 2vh 3vw;
  position: fixed;
  width: 95%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  gap: 6%;
  align-items: center;
  font-size: 1.2rem;
  backdrop-filter: blur(2px);
  background: linear-gradient(
    135deg,
    rgba(36, 189, 222, 0.1),
    rgba(36, 189, 222, 0.1)
  );
  font-family: Orbitron;
  border-radius: 5rem;
}

.navbar::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 5rem;
  padding: 0.1rem;
  background: linear-gradient(
    135deg,
    #24bdde,
    rgba(107, 184, 206, 0.88),
    rgba(0, 36, 64, 0.5),
    rgba(0, 36, 64, 0.5),
    rgba(113, 80, 185, 0.83),
    #7b2787
  );
  -webkit-mask: linear-gradient(rgb(255, 255, 255) 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.navbar-logo {
  width: 5rem;
  display: flex;
  justify-content: center;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  align-items: center;
  width: 70%;
  justify-content: space-between;
  z-index: 1;
}

.nav-links,
.prijavi-se {
  color: $bela;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.nav-links:hover,
.prijavi-se:hover {
  color: $ljubicasta;
}

.menu-icon {
  display: none;
}

.link-do-prijave {
  display: none;
}

.link-do-prijave,
.prijavi-se {
  color: white;
  padding: 0.5rem 1rem;
  position: relative;
  white-space: nowrap;
  border-radius: 5rem;
  box-shadow: 5px 5px 8px 0px #000000;
  font-weight: 600;
}
.link-do-prijave::before,
.prijavi-se::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 5rem;
  padding: 0.1rem;
  background: linear-gradient(155deg, transparent, #7b2787);
  -webkit-mask: linear-gradient(rgb(255, 255, 255) 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.desktop {
  display: block;
}

@media (max-width: 1200px) {
  .desktop {
    display: none;
  }

  .navbar {
    z-index: 500;
    width: 100%;
    margin: 0;
    border: 0;
    position: fixed;
    top: 0;
    height: 4rem;
    background: none;
    backdrop-filter: none;
  }
  .navbar::before {
    background: none;
  }

  a.nav-links.link-do-prijave {
    width: 70%;
    padding: 0.5rem 1rem;
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10%;
    width: 100vw;
    height: 100vh;
    gap: 3%;
    position: absolute;
    top: 0;
    left: -100%;
    transition: all 0.5s ease;
    overflow: hidden;
    white-space: nowrap;
  }

  .nav-menu.active {
    background-color: $tamnoPlava;
    transition: all 0.5s ease;
    border-radius: 0;
    position: fixed;
    left: 0;
    top: 0;
  }

  .nav-links {
    text-align: center;
    font-size: 2.5rem;
    width: 100vw;
    display: table;
    font-weight: 200;
  }

  .nav-links:hover {
    border-radius: 0;
  }

  .navbar-logo {
    display: none;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 2rem;
    right: 1.5rem;
    color: $svetloPlava;
  }

  .hamburger-react {
    margin-top: -25%;
    background: linear-gradient(
      135deg,
      rgba(232, 239, 245, 0.2),
      rgba(232, 239, 245, 0.05)
    );
    border-radius: 0.5rem;
    z-index: 500;
    backdrop-filter: blur(2px);
  }
}
