@import "../../global.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.ceo-nav {
  position: relative;
  z-index: 600;
}

.navbar {
  padding: 0 3vw;
  margin: 2vh 3vw;
  position: fixed;
  width: 95%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  gap: 6%;
  align-items: center;
  font-size: 1.2rem;
  background-color: transparent;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  font-family: Orbitron;
  -webkit-backdrop-filter: blur(15px);
  border-radius: 10rem;
  border: 2px solid $ljubicasta;
}

.navbar-logo {
  width: 5rem;
  display: flex;
  justify-content: center;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  align-items: center;
  width: 70%;
  justify-content: space-between;
}

.nav-links,
.prijavi-se {
  color: $bela;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.nav-links:hover,
.prijavi-se:hover {
  color: $ljubicasta;
}

.menu-icon {
  display: none;
}

.link-do-prijave {
  display: none;
}

.link-do-prijave,
.prijavi-se {
  color: white;
  padding: 0.5rem 1rem;
  position: relative;
  white-space: nowrap;
  border: 2px solid $ljubicasta;
  border-radius: 12rem;
}

.desktop {
  display: block;
}

@media (max-width: 1200px) {
  .desktop {
    display: none;
  }

  .navbar {
    z-index: 500;
    width: 100%;
    margin: 0;
    border: 0;
    opacity: 1;
    position: fixed;
    top: 0;
    height: 4rem;
    // outline: 1.5px solid rgba(255, 255, 255, 0.093);
  }

  .hamburger-react {
    margin-top: -10px;
  }

  a.nav-links.link-do-prijave {
    width: 70%;
    padding: 0.5rem 1rem;
    position: relative;
    cursor: pointer;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10%;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 3rem;
    left: -100%;
    opacity: 1;
    /* transition: all 0.5s ease; */
    overflow: hidden;
  }

  .nav-menu.active {
    background-color: $tamnoPlava;
    transition: all 0.5s ease;
    border-radius: 0;
    position: fixed;
    left: 0;
  }

  .nav-links {
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 6vw;
    font-size: 8.5vw;
    width: 100vw;
    display: table;
    font-weight: 200;
    color: #ffffff;
  }

  .nav-links:hover {
    border-radius: 0;
  }

  .navbar-logo {
    display: none;
  }

  .menu-icon {
    display: block;
    position: absolute;

    top: 1.5rem;
    right: 2rem;
    transform: translate(-10%, -7%);
    color: #00ffa3;
    cursor: pointer;
  }
}
