@import "../../global.scss";

.org-section {
  position: relative;
}

#tim {
  position: absolute;
  top: -5%;
}
.org-section {
  background-color: $tamnoPlava;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.org-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.org-header {
  font-family: "Orbitron", sans-serif;
  color: $bela;
  text-shadow: 0 0 7px $bela;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
}
.org-text {
  color: $bela;
  font-family: "Noto Sans", sans-serif;
  width: 30rem;
  filter: drop-shadow(0 0 10px #011b30);
}


.org-p {
  position: relative;
  font-size: 1.2rem;
  padding: 1rem;
  margin-top: 1rem;
  background: linear-gradient(
    45deg,
    rgba(36, 189, 222, 0.1),
    rgba(123, 39, 135, 0.1)
  );
  border-radius: 13px;
  filter: drop-shadow(0 0 10px #011b30);
}

.org-p::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 12px;
  padding: 2px;
  background: linear-gradient(
    10deg,
    rgba(36, 189, 222, 0.45),
    rgba(36, 189, 222, 0.2),
    rgba(113, 80, 185, 0.83),
    #7b2787
  );
  -webkit-mask: linear-gradient(rgb(255, 255, 255) 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.org-photo-hold {
  position: relative;
  width: fit-content;
  height: fit-content;
  filter: drop-shadow(0 0 10px #011b30);
  width: 45%;
  object-fit: cover;
}
.org-photo-hold::before {
  content: "";
  position: absolute;
  inset: 0;
  transform: translateY(-0.5%);
  border-radius: 12px;
  padding: 3px;
  background: linear-gradient(45deg, $svetloPlava, $ljubicasta);
  -webkit-mask: linear-gradient(rgb(255, 255, 255) 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.org-photo {
  object-fit: cover;
  border-radius: 15px;
  width: 100%;
  height: 100%;
}

@media (max-width: 1300px) {
  .org-content {
    flex-direction: column-reverse;
    align-items: center;
    gap: 2rem;
  }
  .org-text,
  .org-photo-hold {
    width: 35rem;
  }
  .org-header {
    font-size: 2.5rem;
    width: 95%;
  }
}
@media (max-width: 620px) {
  .org-text,
  .org-photo-hold {
    width: 85%;
    margin: auto;
  }
}
