@import "../../global.scss";

.footer-section {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  position: relative;
  overflow: hidden;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  position: relative;
  z-index: 100;
}

.footer-h {
  font-family: "Orbitron", sans-serif;
  color: $bela;
  text-shadow: 0 0 7px $bela;
  font-size: 2rem;
  font-weight: 400;
}

.footer-text {
  color: $bela;
  text-align: center;
  width: 35rem;
  min-height: 15rem;
  max-width: 95%;
  position: relative;
  padding: 1rem;
  padding-bottom: 3rem;
  background: linear-gradient(
    to right,
    rgba(36, 188, 222, 0.1),
    rgba(123, 39, 135, 0.1)
  );
}

.footer-text::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 12px;
  padding: 0.1rem;
  background: linear-gradient(45deg, $svetloPlava, $ljubicasta);
  -webkit-mask: linear-gradient(rgb(255, 255, 255) 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.footer-p {
  //padding: 1rem;
  font-size: 1.2rem;
  font-family: "Noto Sans", sans-serif;
}

.footer-button {
  font-family: Orbitron;
  @include flex-center();
  width: 15rem;
  height: 4rem;
  background-image: linear-gradient(to right, $svetloPlava, $ljubicasta);
  border-radius: 5rem;
  font-size: 1.4rem;
  color: $bela;
  font-weight: 400;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 100;
  text-decoration: none;
}

.footer-button::after {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: "";
  opacity: 0;
  background-color: $svetloPlava;
  transition: all 0.3s ease;
  border-radius: 5rem;
  z-index: 100;
}
.footer-button:hover::after {
  opacity: 1;
}

.footer-button:hover > span {
  color: $ljubicasta;
  transition: all 0.3s ease-in-out;
}

.footer-button span {
  position: relative;
  z-index: 199;
}

.footer-hr {
  height: 2px;
  width: 80%;
  align-self: center;
  background-image: linear-gradient(
    to left,
    transparent,
    $svetloPlava,
    $ljubicasta,
    $svetloPlava,
    transparent
  );
  border: none;
}

.footer-box {
  margin: 2rem;
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  width: 15rem;
  display: flex;
}

.footer-icons {
  font-size: 25px;
}

.footer-adress {
  color: $bela;
  font-size: 20px;
  font-family: "Noto Sans", sans-serif;
  text-align: end;
  font-weight: 300;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none;
}

.footer-adress img {
  object-fit: contain;
}

.footer-socials {
  display: flex;
  gap: 0.5rem;
}

.footer-icons,
.footer-adress {
  width: 30%;
}

.footer-gl {
  text-decoration: none;
  color: $bela;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
  font-family: Noto Sans;
  font-weight: 300;
}

.footer-gl:visited {
  color: $bela;
}

.footer-ig {
  text-decoration: none;
  color: $bela;
}

.footer-ig:visited {
  color: $bela;
}

.footer-fb {
  text-decoration: none;
  color: $bela;
}

.footer-fb:visited {
  color: $bela;
}

.footer-in {
  text-decoration: none;
  color: $bela;
}

.footer-in:visited {
  color: $bela;
}

@media screen and (max-width: 960px) {
  .footer-logo {
    width: 10rem;
  }
}

@media screen and (max-width: 620px) {
  .footer-box {
    gap: 2rem;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: auto;
    margin-top: 2rem;
    display: flex;
  }
  .footer-adress {
    width: 100%;
    text-align: center;
    order: 1;
    gap: 1rem;
    align-items: center;
    flex-direction: column-reverse;
  }
  .footer-icons {
    width: 80%;
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-logo {
    order: 3;
    width: 10rem;
  }
}
@media screen and (max-width: 340px) {
  .footer-button {
    width: 12rem;
  }
}

.footer-dveSekcijePO {
  //background-image: url(./images/Constellation.png);
  background-color: $tamnoPlava;
  //background-repeat: no-repeat;
  position: relative;
}

.footer-balls-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 10%;
  left: 0;
}

.footer-purple-ball-blur {
  position: absolute;
  top: 45%;
  left: -10%;
  width: 40%;
  height: 10%;
  background-color: $ljubicasta;
  filter: blur(6rem);
  border-radius: 50%;
  //animation: blurMoving 10s linear infinite;
}
.footer-blue-rectangle-blur {
  position: absolute;
  top: 30%;
  left: 90%;
  width: 50%;
  height: 10%;
  background-color: $svetloPlava;
  filter: blur(5rem);
  border-radius: 50%;
  //animation: blurMoving 10s linear infinite;
}
