// u vas scss importujete na sledeci nacin: @import "../../global.scss";

$ljubicasta: #7b2787; //Za detalje - na giveaway objavi je glow plav i  ljubicast
$tamnoPlava: #002440; //Za pozadinu i detalje na svetloj
$bela: #e8eff5; //Za pozadinu i detalje na tamnoj
$svetloPlava: #24bdde; //Za detalje

@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap"); //u vasem scss-u kucate font-family: "Orbitron", sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap"); //u vasem scss-u kucate font-family: "Noto Sans", sans-serif;

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-center-gap {
  display: flex;
  justify-content: center;
  gap: 5rem;
  align-items: center;
}
